.grid { margin:1em auto; border-collapse:collapse }
.grid td {
    cursor:pointer;
    width:16px; height:16px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.clicked {
    background-color:yellow;
    font-weight:bold; color:red;
}
